
# __Data Audit Code__

### i) Data Audit Table
- This workbook contains code to audit excel data files
- By opening a 'csv' file and running the below code, each function will return a dataframe that can be pasted into a document. 
- 1) __data_audit__ The first function will create a dataframe that detects missing values for each column
- 2) __value_count__ This function returns a series containting counts of unqiue values for each column
- 3) __join_tables__ Returns an inner join of the two dataframes produced above

### ii) Deleting Missing Values 
- This section can be used for deleting incomplete data in dataframes
- 1) __missing_values_table__ craetes a data for missing data only 
- 2) __remove_incomplete_columns__ The code runs the missing values table and removes the columns which contain more than x% of missing data

### _For R users (& Python beginners)_
- Copy whole script and paste into JupyterLab or JupyterNotebook.
- Change the read_csv argument to your chosen excel csv file.
- Select all script and press play.
- The Data audit table will be copied to a clipboard and can then just be pasted to an alternative source.

In [1]:
import pandas as pd 
import numpy as np
df = pd.read_csv('Data_audit_example.csv')

In [2]:
df.columns

Index(['Month', 'SCOR_1_NBR', 'SCOR_17A_NBR', 'SCOR_17B_NBR', 'SCOR_17C_NBR',
       'SCOR_17K_NBR', 'SCOR_5G_NBR', 'SCOR_5H_NBR', 'SCOR_13F_NBR',
       'SCOR_42_NBR', 'SCOR_43_NBR', 'SCOR_17N_NBR', 'SCOR_44_NBR',
       'SCOR_13E_NBR', 'SCOR_13A_NBR', 'SCOR_13D_NBR', 'SCOR_6W_NBR',
       'SCOR_6D_NBR', 'SCOR_46_NBR', 'SCOR_47_NBR', 'SCOR_48_NBR',
       'SCOR_49_NBR', 'SCOR_6AA_NBR', 'SCOR_50_NBR', 'SCOR_6J_NBR',
       'SCOR_6I_NBR', 'SCOR_52_NBR', 'SCOR_53_NBR', 'SCOR_58_NBR',
       'SCOR_17G_NBR', 'SCOR_17I_NBR', 'SCOR_17H_NBR', 'SCOR_17J_NBR',
       'SCOR_19I_NBR', 'SCOR_19K_NBR', 'SCOR_19L_NBR', 'SCOR_17A_NBR.1',
       'SCOR_17L_NBR', 'SCOR_17B_NBR.1', 'SCOR_17C_NBR.1', 'SCOR_17K_NBR.1',
       'SCOR_5H_NBR.1', 'SCOR_22C_NBR', 'SCOR_57_NBR', 'SCOR_40_NBR',
       'SCOR_23A_NBR'],
      dtype='object')

In [3]:
def data_audit(df):
    
    '''Detects missing values for each column and returns a dataframe'''
    
    # Total missing values
    mis_val = df.isnull().sum()
        
    # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)
        
    # Create a table
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
    # Rename the columns
    mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Missing Values'})
        
    # Round values in table
    mis_val_table_ren_columns = mis_val_table_ren_columns.round(2)
        
    # Create df with missing values
    missing_values_only = mis_val_table_ren_columns[
    mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Missing Values', ascending=False)
        
    # Repeat for values with no data at all
    NO_DATA = mis_val_table_ren_columns[
    mis_val_table_ren_columns['% of Total Missing Values'] == 100]
        
    # and print the summary information
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"   
               
            "There are " + str(missing_values_only.shape[0]) +
              " columns that have missing values.\n" + 
               
               "There are " + str(NO_DATA.shape[0]) +
              " columns that have no data.")
        
    #data audit copied to clipboard (paste into excel)
    print(mis_val_table_ren_columns.to_clipboard())
        
    # Return the dataframe
    return mis_val_table_ren_columns

In [4]:
data_audit(df)

Your selected dataframe has 46 columns.
There are 46 columns that have missing values.
There are 0 columns that have no data.
None

                Missing Values  % of Total Missing Values
Month                    53937                      17.02
SCOR_1_NBR                4554                       1.44
SCOR_17A_NBR             76933                      24.28
SCOR_17B_NBR            197502                      62.32
SCOR_17C_NBR            185317                      58.48
SCOR_17K_NBR            190355                      60.07
SCOR_5G_NBR              80164                      25.30
SCOR_5H_NBR              90260                      28.48
SCOR_13F_NBR              6260                       1.98
SCOR_42_NBR              25555                       8.06
SCOR_43_NBR               5971                       1.88
SCOR_17N_NBR            164042                      51.76
SCOR_44_NBR              16543                       5.22
SCOR_13E_NBR              6695                       2.11
SCOR_13A_NBR             11997                       3.79
SCOR_13D_NBR             15393                       4.86
SCOR_6W_NBR               6814                       2.15
SCOR_6D_NBR              12481                       3.94
SCOR_46_NBR              11754                       3.71
SCOR_47_NBR              12691                       4.00
SCOR_48_NBR              12864                       4.06
SCOR_49_NBR              13144                       4.15
SCOR_6AA_NBR             14373                       4.54
SCOR_50_NBR              17592                       5.55
SCOR_6J_NBR               6321                       1.99
SCOR_6I_NBR              11005                       3.47
SCOR_52_NBR              10258                       3.24
SCOR_53_NBR              13699                       4.32
SCOR_58_NBR              66145                      20.87
SCOR_17G_NBR            183357                      57.86
SCOR_17I_NBR             76937                      24.28
SCOR_17H_NBR             81203                      25.62
SCOR_17J_NBR            183624                      57.94
SCOR_19I_NBR            213484                      67.37
SCOR_19K_NBR            214579                      67.71
SCOR_19L_NBR            215234                      67.92
SCOR_17A_NBR.1           76933                      24.28
SCOR_17L_NBR            312118                      98.49
SCOR_17B_NBR.1          197502                      62.32
SCOR_17C_NBR.1          185317                      58.48
SCOR_17K_NBR.1          190355                      60.07
SCOR_5H_NBR.1            90260                      28.48
SCOR_22C_NBR            243626                      76.88
SCOR_57_NBR               6295                       1.99
SCOR_40_NBR              14775                       4.66
SCOR_23A_NBR            197122                      62.20

In [5]:
#create a function to concat columns. Used in pivot table agg function below
def string_concat(x):
    return  ' , '.join(x.values.astype(str))

In [6]:
def value_count(df):
    
    '''Return a Series containing counts of unique values for each column'''
    
    #create a dataframe with each column, its variable, and value count
    df = pd.concat([df.apply(lambda x: x.value_counts()).T.stack()], axis = 1)
    
    #reset index
    df = df.reset_index()
    
    #concat column variable and count
    df['Value_counts'] = df[['level_1', 0]].apply(lambda x: ' : '.join(x.astype(str)), axis=1)
    
    #create a pivot table with each colun as the index and an agg function to concat all value counts
    table = pd.pivot_table(df, index = ['level_0'], 
                       values = ['Value_counts'], 
                        aggfunc ={'Value_counts':string_concat})
    
    return table

In [7]:
value_count(df)

C:\Users\robert.lowe\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexes\api.py:107: RuntimeWarning: '<' not supported between instances of 'str' and 'float', sort order is undefined for incomparable objects
  result = result.union(other)
C:\Users\robert.lowe\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexes\api.py:107: RuntimeWarning: '<' not supported between instances of 'float' and 'str', sort order is undefined for incomparable objects
  result = result.union(other)

                                                     Value_counts
level_0
Month           Feb : 42844.0 , May : 27469.0 , Jul : 26349.0 ...
SCOR_13A_NBR    10.0 : 92442.0 , 9.0 : 72549.0 , 8.0 : 69472.0...
SCOR_13D_NBR    10.0 : 98621.0 , 9.0 : 68120.0 , 8.0 : 61778.0...
SCOR_13E_NBR    10.0 : 72175.0 , 9.0 : 58615.0 , 8.0 : 69039.0...
SCOR_13F_NBR    10.0 : 115729.0 , 9.0 : 74702.0 , 8.0 : 62223....
SCOR_17A_NBR    10.0 : 14175.0 , 9.0 : 6753.0 , 8.0 : 7467.0 ,...
SCOR_17A_NBR.1  10.0 : 14175.0 , 9.0 : 6753.0 , 8.0 : 7467.0 ,...
SCOR_17B_NBR    10.0 : 8652.0 , 9.0 : 5018.0 , 8.0 : 5538.0 , ...
SCOR_17B_NBR.1  10.0 : 8652.0 , 9.0 : 5018.0 , 8.0 : 5538.0 , ...
SCOR_17C_NBR    10.0 : 5959.0 , 9.0 : 3242.0 , 8.0 : 4275.0 , ...
SCOR_17C_NBR.1  10.0 : 5959.0 , 9.0 : 3242.0 , 8.0 : 4275.0 , ...
SCOR_17G_NBR    10.0 : 6633.0 , 9.0 : 2962.0 , 8.0 : 3266.0 , ...
SCOR_17H_NBR    10.0 : 24383.0 , 9.0 : 15733.0 , 8.0 : 17312.0...
SCOR_17I_NBR    10.0 : 41450.0 , 9.0 : 28032.0 , 8.0 : 32315.0...
SCOR_17J_NBR    10.0 : 7988.0 , 9.0 : 3578.0 , 8.0 : 4039.0 , ...
SCOR_17K_NBR    10.0 : 3485.0 , 9.0 : 1122.0 , 8.0 : 1293.0 , ...
SCOR_17K_NBR.1  10.0 : 3485.0 , 9.0 : 1122.0 , 8.0 : 1293.0 , ...
SCOR_17L_NBR    10.0 : 577.0 , 9.0 : 414.0 , 8.0 : 396.0 , 7.0...
SCOR_17N_NBR    10.0 : 33521.0 , 9.0 : 14071.0 , 8.0 : 9728.0 ...
SCOR_19I_NBR    10.0 : 26167.0 , 9.0 : 19540.0 , 8.0 : 23203.0...
SCOR_19K_NBR    10.0 : 24656.0 , 9.0 : 18961.0 , 8.0 : 23266.0...
SCOR_19L_NBR    10.0 : 35182.0 , 9.0 : 18992.0 , 8.0 : 18063.0...
SCOR_1_NBR      10.0 : 96367.0 , 9.0 : 74948.0 , 8.0 : 70795.0...
SCOR_22C_NBR                        1.0 : 56862.0 , 2.0 : 16417.0
SCOR_23A_NBR                        1.0 : 54046.0 , 2.0 : 65737.0
SCOR_40_NBR     10.0 : 172975.0 , 9.0 : 48644.0 , 8.0 : 30233....
SCOR_42_NBR     10.0 : 129553.0 , 9.0 : 69087.0 , 8.0 : 45685....
SCOR_43_NBR     10.0 : 159270.0 , 9.0 : 67126.0 , 8.0 : 40784....
SCOR_44_NBR     10.0 : 98179.0 , 9.0 : 53527.0 , 8.0 : 47291.0...
SCOR_46_NBR     10.0 : 101121.0 , 9.0 : 72233.0 , 8.0 : 59316....
SCOR_47_NBR     10.0 : 103685.0 , 9.0 : 66947.0 , 8.0 : 54994....
SCOR_48_NBR     10.0 : 111751.0 , 9.0 : 72393.0 , 8.0 : 57475....
SCOR_49_NBR     10.0 : 108861.0 , 9.0 : 71715.0 , 8.0 : 59944....
SCOR_50_NBR     10.0 : 98265.0 , 9.0 : 55350.0 , 8.0 : 51554.0...
SCOR_52_NBR     10.0 : 96274.0 , 9.0 : 57871.0 , 8.0 : 56629.0...
SCOR_53_NBR     10.0 : 126085.0 , 9.0 : 68235.0 , 8.0 : 56460....
SCOR_57_NBR     10.0 : 148328.0 , 9.0 : 68608.0 , 8.0 : 48589....
SCOR_58_NBR     10.0 : 71523.0 , 9.0 : 45531.0 , 8.0 : 45814.0...
SCOR_5G_NBR     10.0 : 58973.0 , 9.0 : 31885.0 , 8.0 : 34042.0...
SCOR_5H_NBR     10.0 : 11076.0 , 9.0 : 4041.0 , 8.0 : 3959.0 ,...
SCOR_5H_NBR.1   10.0 : 11076.0 , 9.0 : 4041.0 , 8.0 : 3959.0 ,...
SCOR_6AA_NBR    10.0 : 92390.0 , 9.0 : 54441.0 , 8.0 : 48941.0...
SCOR_6D_NBR     10.0 : 125890.0 , 9.0 : 76247.0 , 8.0 : 52753....
SCOR_6I_NBR     10.0 : 105671.0 , 9.0 : 68573.0 , 8.0 : 57879....
SCOR_6J_NBR     10.0 : 134640.0 , 9.0 : 74371.0 , 8.0 : 54341....
SCOR_6W_NBR     10.0 : 104440.0 , 9.0 : 72098.0 , 8.0 : 60820....

In [8]:
def join_tables(df):
    
    '''Returns the joined above dataframes (value_counts + data_aduit)'''
    
    #create dataframes using data_audit function (see above) and value_counts function (see above)
    data_audited = data_audit(df)
    value_counts = value_count(df)
    
    #reset_index
    data_audited = data_audited.reset_index()
    value_counts = value_counts.reset_index()
    
    #rename value count table to index (for merging of dataframes)
    value_counts.rename(columns={'level_0': 'index'}, inplace=True)
    
    #inner join the two dataframes
    df = pd.merge(data_audited, value_counts, on=['index'], how='inner')
    
    #copy dataframe to clipboard (to can paste to excel or other source)
    print(df.to_clipboard())
    
    return df

In [9]:
join_tables(df)

Your selected dataframe has 46 columns.
There are 46 columns that have missing values.
There are 0 columns that have no data.
None
None

,index,Missing Values,% of Total Missing Values,Value_counts
0,Month,53937,17.02,"Feb : 42844.0 , May : 27469.0 , Jul : 26349.0 ..."
1,SCOR_1_NBR,4554,1.44,"10.0 : 96367.0 , 9.0 : 74948.0 , 8.0 : 70795.0..."
2,SCOR_17A_NBR,76933,24.28,"10.0 : 14175.0 , 9.0 : 6753.0 , 8.0 : 7467.0 ,..."
3,SCOR_17B_NBR,197502,62.32,"10.0 : 8652.0 , 9.0 : 5018.0 , 8.0 : 5538.0 , ..."
4,SCOR_17C_NBR,185317,58.48,"10.0 : 5959.0 , 9.0 : 3242.0 , 8.0 : 4275.0 , ..."
5,SCOR_17K_NBR,190355,60.07,"10.0 : 3485.0 , 9.0 : 1122.0 , 8.0 : 1293.0 , ..."
6,SCOR_5G_NBR,80164,25.30,"10.0 : 58973.0 , 9.0 : 31885.0 , 8.0 : 34042.0..."
7,SCOR_5H_NBR,90260,28.48,"10.0 : 11076.0 , 9.0 : 4041.0 , 8.0 : 3959.0 ,..."
8,SCOR_13F_NBR,6260,1.98,"10.0 : 115729.0 , 9.0 : 74702.0 , 8.0 : 62223...."
9,SCOR_42_NBR,25555,8.06,"10.0 : 129553.0 , 9.0 : 69087.0 , 8.0 : 45685...."
10,SCOR_43_NBR,5971,1.88,"10.0 : 159270.0 , 9.0 : 67126.0 , 8.0 : 40784...."
11,SCOR_17N_NBR,164042,51.76,"10.0 : 33521.0 , 9.0 : 14071.0 , 8.0 : 9728.0 ..."
12,SCOR_44_NBR,16543,5.22,"10.0 : 98179.0 , 9.0 : 53527.0 , 8.0 : 47291.0..."
13,SCOR_13E_NBR,6695,2.11,"10.0 : 72175.0 , 9.0 : 58615.0 , 8.0 : 69039.0..."
14,SCOR_13A_NBR,11997,3.79,"10.0 : 92442.0 , 9.0 : 72549.0 , 8.0 : 69472.0..."
15,SCOR_13D_NBR,15393,4.86,"10.0 : 98621.0 , 9.0 : 68120.0 , 8.0 : 61778.0..."
16,SCOR_6W_NBR,6814,2.15,"10.0 : 104440.0 , 9.0 : 72098.0 , 8.0 : 60820...."
17,SCOR_6D_NBR,12481,3.94,"10.0 : 125890.0 , 9.0 : 76247.0 , 8.0 : 52753...."
18,SCOR_46_NBR,11754,3.71,"10.0 : 101121.0 , 9.0 : 72233.0 , 8.0 : 59316...."
19,SCOR_47_NBR,12691,4.00,"10.0 : 103685.0 , 9.0 : 66947.0 , 8.0 : 54994...."
20,SCOR_48_NBR,12864,4.06,"10.0 : 111751.0 , 9.0 : 72393.0 , 8.0 : 57475...."
21,SCOR_49_NBR,13144,4.15,"10.0 : 108861.0 , 9.0 : 71715.0 , 8.0 : 59944...."
22,SCOR_6AA_NBR,14373,4.54,"10.0 : 92390.0 , 9.0 : 54441.0 , 8.0 : 48941.0..."
23,SCOR_50_NBR,17592,5.55,"10.0 : 98265.0 , 9.0 : 55350.0 , 8.0 : 51554.0..."
24,SCOR_6J_NBR,6321,1.99,"10.0 : 134640.0 , 9.0 : 74371.0 , 8.0 : 54341...."
25,SCOR_6I_NBR,11005,3.47,"10.0 : 105671.0 , 9.0 : 68573.0 , 8.0 : 57879...."
26,SCOR_52_NBR,10258,3.24,"10.0 : 96274.0 , 9.0 : 57871.0 , 8.0 : 56629.0..."
27,SCOR_53_NBR,13699,4.32,"10.0 : 126085.0 , 9.0 : 68235.0 , 8.0 : 56460...."
28,SCOR_58_NBR,66145,20.87,"10.0 : 71523.0 , 9.0 : 45531.0 , 8.0 : 45814.0..."
29,SCOR_17G_NBR,183357,57.86,"10.0 : 6633.0 , 9.0 : 2962.0 , 8.0 : 3266.0 , ..."
30,SCOR_17I_NBR,76937,24.28,"10.0 : 41450.0 , 9.0 : 28032.0 , 8.0 : 32315.0..."
31,SCOR_17H_NBR,81203,25.62,"10.0 : 24383.0 , 9.0 : 15733.0 , 8.0 : 17312.0..."
32,SCOR_17J_NBR,183624,57.94,"10.0 : 7988.0 , 9.0 : 3578.0 , 8.0 : 4039.0 , ..."
33,SCOR_19I_NBR,213484,67.37,"10.0 : 26167.0 , 9.0 : 19540.0 , 8.0 : 23203.0..."
34,SCOR_19K_NBR,214579,67.71,"10.0 : 24656.0 , 9.0 : 18961.0 , 8.0 : 23266.0..."
35,SCOR_19L_NBR,215234,67.92,"10.0 : 35182.0 , 9.0 : 18992.0 , 8.0 : 18063.0..."
36,SCOR_17A_NBR.1,76933,24.28,"10.0 : 14175.0 , 9.0 : 6753.0 , 8.0 : 7467.0 ,..."
37,SCOR_17L_NBR,312118,98.49,"10.0 : 577.0 , 9.0 : 414.0 , 8.0 : 396.0 , 7.0..."
38,SCOR_17B_NBR.1,197502,62.32,"10.0 : 8652.0 , 9.0 : 5018.0 , 8.0 : 5538.0 , ..."
39,SCOR_17C_NBR.1,185317,58.48,"10.0 : 5959.0 , 9.0 : 3242.0 , 8.0 : 4275.0 , ..."
40,SCOR_17K_NBR.1,190355,60.07,"10.0 : 3485.0 , 9.0 : 1122.0 , 8.0 : 1293.0 , ..."
41,SCOR_5H_NBR.1,90260,28.48,"10.0 : 11076.0 , 9.0 : 4041.0 , 8.0 : 3959.0 ,..."
42,SCOR_22C_NBR,243626,76.88,"1.0 : 56862.0 , 2.0 : 16417.0"
43,SCOR_57_NBR,6295,1.99,"10.0 : 148328.0 , 9.0 : 68608.0 , 8.0 : 48589...."
44,SCOR_40_NBR,14775,4.66,"10.0 : 172975.0 , 9.0 : 48644.0 , 8.0 : 30233...."
45,SCOR_23A_NBR,197122,62.20,"1.0 : 54046.0 , 2.0 : 65737.0"

## Missing Values Table
- The below code returns a dataframe with missing data only

In [10]:
def missing_values_table(df):
    '''Creates a data for missing data only'''
    
    # Total missing values
    mis_val = df.isnull().sum()
        
    # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)
        
    # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
    # Rename the columns
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
    # Sort the table by percentage of missing descending
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
        
    # Print some summary information
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
    # Return the dataframe with missing information
    return mis_val_table_ren_columns

In [11]:
missing_values_table(df)

Your selected dataframe has 46 columns.
There are 46 columns that have missing values.

                Missing Values  % of Total Values
SCOR_17L_NBR            312118               98.5
SCOR_22C_NBR            243626               76.9
SCOR_19L_NBR            215234               67.9
SCOR_19K_NBR            214579               67.7
SCOR_19I_NBR            213484               67.4
SCOR_17B_NBR.1          197502               62.3
SCOR_17B_NBR            197502               62.3
SCOR_23A_NBR            197122               62.2
SCOR_17K_NBR            190355               60.1
SCOR_17K_NBR.1          190355               60.1
SCOR_17C_NBR            185317               58.5
SCOR_17C_NBR.1          185317               58.5
SCOR_17J_NBR            183624               57.9
SCOR_17G_NBR            183357               57.9
SCOR_17N_NBR            164042               51.8
SCOR_5H_NBR.1            90260               28.5
SCOR_5H_NBR              90260               28.5
SCOR_17H_NBR             81203               25.6
SCOR_5G_NBR              80164               25.3
SCOR_17I_NBR             76937               24.3
SCOR_17A_NBR.1           76933               24.3
SCOR_17A_NBR             76933               24.3
SCOR_58_NBR              66145               20.9
Month                    53937               17.0
SCOR_42_NBR              25555                8.1
SCOR_50_NBR              17592                5.6
SCOR_44_NBR              16543                5.2
SCOR_13D_NBR             15393                4.9
SCOR_40_NBR              14775                4.7
SCOR_6AA_NBR             14373                4.5
SCOR_53_NBR              13699                4.3
SCOR_49_NBR              13144                4.1
SCOR_48_NBR              12864                4.1
SCOR_47_NBR              12691                4.0
SCOR_6D_NBR              12481                3.9
SCOR_13A_NBR             11997                3.8
SCOR_46_NBR              11754                3.7
SCOR_6I_NBR              11005                3.5
SCOR_52_NBR              10258                3.2
SCOR_6W_NBR               6814                2.2
SCOR_13E_NBR              6695                2.1
SCOR_6J_NBR               6321                2.0
SCOR_57_NBR               6295                2.0
SCOR_13F_NBR              6260                2.0
SCOR_43_NBR               5971                1.9
SCOR_1_NBR                4554                1.4

## Removing Missing Data
- The below code runs the missing values table
- Then removes the columns which contain more than x% of missing data

In [12]:
#df = dataframe
#x = the % of missing data
def remove_incomplete_columns(df, x):
    
    '''Code to remove columns where more than X% of the columns have missing data'''
    
    #use the missing_values_table function (see above)
    missing_df = missing_values_table(df)
    
    #delete the columns which are more than x% missing
    missing_columns = list(missing_df[missing_df['% of Total Values'] > x].index)
    print('We will remove %d columns.' % len(missing_columns))
    
    #reassign dataframe with new data
    df = df.drop(columns = list(missing_columns))
    
    return df

In [13]:
df = remove_incomplete_columns(df,50)

Your selected dataframe has 46 columns.
There are 46 columns that have missing values.
We will remove 15 columns.

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316905 entries, 0 to 316904
Data columns (total 31 columns):
Month             262968 non-null object
SCOR_1_NBR        312351 non-null float64
SCOR_17A_NBR      239972 non-null float64
SCOR_5G_NBR       236741 non-null float64
SCOR_5H_NBR       226645 non-null float64
SCOR_13F_NBR      310645 non-null float64
SCOR_42_NBR       291350 non-null float64
SCOR_43_NBR       310934 non-null float64
SCOR_44_NBR       300362 non-null float64
SCOR_13E_NBR      310210 non-null float64
SCOR_13A_NBR      304908 non-null float64
SCOR_13D_NBR      301512 non-null float64
SCOR_6W_NBR       310091 non-null float64
SCOR_6D_NBR       304424 non-null float64
SCOR_46_NBR       305151 non-null float64
SCOR_47_NBR       304214 non-null float64
SCOR_48_NBR       304041 non-null float64
SCOR_49_NBR       303761 non-null float64
SCOR_6AA_NBR      302532 non-null float64
SCOR_50_NBR       299313 non-null float64
SCOR_6J_NBR       310584 non-null float64
SCOR_6I_NBR       305900 non-null float64
SCOR_52_NBR       306647 non-null float64
SCOR_53_NBR       303206 non-null float64
SCOR_58_NBR       250760 non-null float64
SCOR_17I_NBR      239968 non-null float64
SCOR_17H_NBR      235702 non-null float64
SCOR_17A_NBR.1    239972 non-null float64
SCOR_5H_NBR.1     226645 non-null float64
SCOR_57_NBR       310610 non-null float64
SCOR_40_NBR       302130 non-null float64
dtypes: float64(30), object(1)
memory usage: 75.0+ MB